@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

*{
  text-decoration: none  !important;
}

.section{
  background-color: white;
}
.required:after {
  content: " *";
  color: red;
}

.google-maps {
  position: relative;
  padding-bottom: 75%;
  height: 0;
  overflow: hidden;
}

.google-maps iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}

.bg-facebook {
  background-color: #3b5998;
}

.bg-twitter {
  background-color: #1da1f2;
}

.bg-google {
  background-color: #ea4335;
}

.bg-instagram {
  background-color: #e1306c;
}

.bs-cover {
  background-size: cover;
}

.r-0 {
  right: 0;
}

.mw-180 {
  max-width: 180px;
}

.mw-140 {
  max-width: 140px;
}

.i-va {
  vertical-align: -0.125em;
}

.breadcrumb {
  padding: 0.5rem 1rem;
  background-color: #e9ecef;
}

.accordion-icon-button {
  display: flex;
  border-radius: inherit;
}

.accordion-icon-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2016%2016'%20fill%3D'%23%7B%24accordion-icon-color%7D'%3E%3Cpath%20fill-rule%3D'evenodd'%20d%3D'M1.646%204.646a.5.5%200%200%201%20.708%200L8%2010.293l5.646-5.647a.5.5%200%200%201%20.708.708l-6%206a.5.5%200%200%201-.708%200l-6-6a.5.5%200%200%201%200-.708z'%2F%3E%3C%2Fsvg%3E");
  transform: rotate(-180deg);
  background-position-y: center;
}

.accordion-icon-button::after {
  flex-shrink: 0;
  background-position-y: center;
  width: 20px;
  margin-left: auto;
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2016%2016'%20fill%3D'%23%7B%24accordion-icon-active-color%7D'%3E%3Cpath%20fill-rule%3D'evenodd'%20d%3D'M1.646%204.646a.5.5%200%200%201%20.708%200L8%2010.293l5.646-5.647a.5.5%200%200%201%20.708.708l-6%206a.5.5%200%200%201-.708%200l-6-6a.5.5%200%200%201%200-.708z'%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat;
  background-size: 1.25rem;
  transition: transform .2s ease-in-out;
}

.accordion-icon-button.collapsed {
  border-bottom: none;
}

.bg-primary{
  background-color: var(--primary-color) !important;
}


.bg-primary-v1{
  background-color: var(--primary-color-v1) !important;
}

.bg-primary-image{
  background-image: var(--primary-color) !important;
}


.bg-primary-v1-image{
  background-image: var(--primary-color-v1) !important;
}

.bg-secondary{
  background-color: var(--secondary-color) !important;
}

.zoom-img {
  transition: transform 0.7s ease;
}

/* Apply scale transformation on hover */
.zoom-img:hover {
  transform: scale(1.10);
}

.text-primary {
  color: var(--primary-color-v1)  !important;
}
.text-secondary {
  color: var(--secondary-color) !important;
}

.translate-half {
  transform: translate(-50%) !important;
}

.custom-hr {
  border: none;
  border-top: 1px solid #ccc; /* Color and thickness */
  margin: 20px 0; /* Space around the line */
  text-align: center;
}

.text-section{
  font-family: sacramento, Sans-serif;
    font-size: 45px; 
    font-weight: 400;
    text-align: center;
}

.h-70{
  height: 70% !important;
}

.button {
  width: 600px;
  height: 600px;
  font-size:30px;
  color: #fff;
  background: none;
  border: none;
  border-radius: 50%; 
  position: relative;
  z-index: 0;
  transition: .3s;
  cursor: pointer;
}
.button:before {
  content: "";
  position: absolute;
  inset: -8px;
  padding: 10px;
  border-radius: 50%; 
  background: conic-gradient(
        #ff53bb ,
        #0000 30deg 120deg,
        #00f8d3 150deg 180deg,
        #0000 210deg 300deg,
        #ff53bb 330deg
    );
  -webkit-mask:
    linear-gradient(#000 0 0) content-box,
    linear-gradient(#000 0 0);
  -webkit-mask-composite: xor;
          mask-composite: intersect
}
.button:after {
  content: "";
  position: absolute;
  inset: -100px;
  background:
    radial-gradient(200px at left  400px top 150px,#ff53bb 100%,#0000),
    radial-gradient(200px at right 400px bottom 150px,#00f8d3 100%,#0000);
  filter: blur(120px);
  opacity: .5;
}

.button:before,
.button:after {
  transition:.5s, 99999s 99999s transform;
}
.button:hover {
  box-shadow: 0 0 0 1px #666;
}

.button:hover:before,
.button:hover:after {
  transform: rotate(36000deg);
  transition: .5s,600s linear transform;
}
.button:before {
  background-color: #222;
    border: 2px solid #333;
}

.body {
  margin: 0;
  min-height: 100vh;
  display: grid;
  place-content: center;
  grid-auto-flow: column;
  background-color: #111;
}

button>img{
    border-radius: 50%;
    left: -2px;
    position: relative;
    top: 2px;
    width: 594px;
    opacity:0.9;
}

.animated-button {
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--primary-color);
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 8px;
  width: max-content;
}

.animated-button:hover {
  background-color:  var(--secondary-color); /* Darker green */
  transform: scale(1.05); /* Slightly enlarge the button */
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2); /* Add a subtle shadow */
  color: var(--primary-color);
  font-weight: 700;
}


.animated-image {
  width: 300px; /* Adjust width based on your design */
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease, transform 1s ease;
}

.animated-image.fade-in {
  opacity: 1;
  transform: translateX(0);
}

.animated-image.shake {
  animation: shake 3s ease-in-out infinite;
}

.lucky-image {
  height: 15rem;
  width: auto;
}

@keyframes shake {
  0%, 100% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(5px);
  }
  75% {
    transform: translateY(-5px);
  }
}

@media (max-width: 992px) {
  .top-menu-container {
    position: absolute;
    top: 100%; /* Position it right below the header */
    left: 0;
    width: 100%;
    z-index: 1000;
  }

  .navbar-collapse {
    background-color: #ffffff; /* Or any background color that suits your design */
    padding: 10px;
  }
}

@media (min-width: 850px) {
  .content-desktop {
    width: 85%;
    margin: 0 auto;
  }
}

.btn-outline-primary:hover,
.btn-primary {
  color: var(--secondary-color) !important; /* Change text color on hover */
  background-color: var(--primary-color) !important; 
  border-color: rgb(0, 0, 0);/* Change background color on hover */
}

.btn-outline-secondary:hover,
.btn-secondary {
  color: red !important; /* Change text color on hover */
  background-color: white !important; /* Change background color on hover */
}

.btn-primary:hover,
.btn-secodary:hover,
.btn-outline-primary,
.btn-outline-secondary {
  color:grey;
  background-color: white;
  border-color: grey;
}

.nav {
  list-style: none;
  padding: 0;
}

.nav-item {
  position: relative;
}

.nav-dropdown-menu {
  position: absolute;
  top: 100%;  /* Adjust as needed */
  left: 0;
  display: block;
  background-color: var(--primary-color-v1);
  border: 1px solid #ccc;
  z-index: 1000;  /* Ensure it shows above other elements */
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  list-style: none; /* Remove default list styles */
  padding: 10px;
  width:max-content;
  
}

.nav-dropdown-item {
  padding: 5px; /* Adjust padding as needed */
  text-decoration: none;
  color: var(--secondary-color); /* Change color as needed */
  /* margin-top: 30px I !important; */
  display: block;
  height: 35px;
}
.nav-dropdown-item:hover {
  background-color: var(--secondary-color); /* Change hover effect */
  color: var(--primary-color)
}
/* 
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: black;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-control-prev-icon::after,
.carousel-control-next-icon::after {
  content: '';
  border-style: solid;
  border-width: 0.25em 0.25em 0 0;
  display: inline-block;
  height: 1.25em;
  width: 1.25em;
  position: relative;
  transform: rotate(45deg);
}

.carousel-control-prev-icon::after {
  transform: rotate(-135deg); /* Adjust for left arrow */
/* } */

/* .carousel-control-next-icon::after {
  transform: rotate(45deg); /* Adjust for right arrow 
}  */

input.is-valid {
  border-color: initial !important;
  box-shadow: none !important;
}

input.is-invalid {
  border-color: #dc3545 !important;
  box-shadow: none !important;
}


.search-overlay {
  animation: fadeIn 0.3s ease-in-out;
  backdrop-filter: blur(5px);
}

/* Ensures table is scrollable on small screens */
.table-container {
  width: 100%;
  overflow-x: auto;
}

/* Fix for tbody alignment issues */
.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
}

/* Ensures the table doesn't shrink */
.table {
  min-width: 600px; /* Adjust as needed */
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
